.main {
  font-size: 24px;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px 96px;
  box-sizing: border-box;
  max-width: 640px;
}

.header {
  margin: 1em 0;
  font-size: 72px;
  font-weight: bold;
  line-height: 1em;
  color: #fff;
  user-select: none;
  cursor: pointer;
  .icon {
    display: inline-block;
    margin-left: 0.5em;
    transition: all 800ms ease;
  }
  &:hover {
    .icon {
      transform: rotate(360deg);
    }
  }
}

.generator {
  .checkboxs {
    display: grid;
    grid-template-columns: auto auto;
  }
}

.result {
  margin: 48px 0;
  width: 100%;
  font-size: 48px;
  display: flex;
  cursor: pointer;
  font-style: italic;
  .value {
    width: 100%;
    padding-right: 0.5em;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .icon {
    color: #ccc;
    transition: all 200ms ease;
  }
  &:hover {
    .icon {
      color: #fff;
    }
  }
}
